<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Iniciar sesion como repartidor</h1>
        <form action="" method="post">
            <label for="dni">Ingrese dni:</label>
            <input name="dni" type="text">
            <label for="numero">Ingrese numero:</label>
            <input name="numero" type="text">
            <button type="submit">Ingresar</button>
        </form>
    </div>
    <div>
        {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
        <ul class="flashes">
            {% for catgory,message in messages %}
            <li class="{{category}}">{{message}}</li>
            {%endfor%}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
</body>
</html>