<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form action="" method="post">
        <label for="dni">Ingrese DNI:</label>
        <input type="text" name="dni" id="dni">
        <label for="numero">Ingrese Numero de repartidor/despachador:</label>
        <input type="text" name="numero" id="numero">
        <label for="nombre">Ingrese su nombre:</label>
        <input type="text" name="nombre" id="nombre">
        <button type="button">Registrar</button>
    </form>
</body>
</html>