<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccionar paquetes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Selecciones paquetes</h1>
        <form action="" method="post">
            <select name="paquetes" id="paquetes" multiple size="10" required>Paquetes:
            {% for paquete in paquetes%}
                <option value="{{paquete.id}}">{{paquete.numeroEnvio}}-{{paquete.dirDestinatario}}</option>
            {%endfor%}
            </select>
            <button type="submit">Registrar transporte</button>
        </form>
    </div>
    <div>
        {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
        <ul class="flashes">
            {% for catgory,message in messages %}
            <li class="{{category}}">{{message}}</li>
            {%endfor%}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
</body>
</html>