<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transportes</title>
</head>
<body>
    <h1>Transportes</h1>
    {% for trans in transportes%}
        <h1>{{trans.id}}</h1>
    {% endfor %}
    <!-- <section>
        <h2>Registtrar llegada</h2>
        <Button>Register</Button>
    </section>
    <section>
        <h2>Registrar salida</h2>
        <button>Registrar</button>
    </section> -->
</body>
</html>